<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="author" content="Rui ITO">

    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "ie10-viewport-bug-workaround" %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <div class="container-fluid">
      <div class="row header">
        <nav>
          <ul class="nav nav-justified">
            <li><%= link_to 'Home', './' %></li>
            <li><%= link_to 'About me', './about.html' %></li>
            <li><%= link_to 'Publications', './publications.html' %></li>
            <li><%= link_to 'Photos', './photos.html' %></li>
          </ul>
        </nav>
      </div>

      <div class="row main">
        <article class="col-sm-8">
          <div>
            <%= yield %>
          </div>
        </article>
        <aside class="col-sm-4">
          <div>
            <h1>Contact</h1>
            <p> Rui ITO, 伊東 瑠衣 (Ph.D.)<br />
              Research fellow,<br />
              Integrated Research on Disaster Risk Reduction Division,<br />
              National Research Institute for Earth Science and Disaster Resilience (NIED),<br />
              3-1, Tennoudai, Tsukuba,<br />
              Ibaraki, 305-0006, JAPAN</p>
            <p>mail:rui.ito(at)bosai.go.jp</p>
            <p>tel:+81-29-863-7559<br />
              fax:+81-29-863-7500</p>
            <h1>Links</h1>
            <ul>
              <li><a href="https://si-cat.jp">SICAT</a></li>
              <li><a href="http://www.jamstec.go.jp/sousei/">SOUSEI program</a></li>
              <li><a href="http://ssrs.dpri.kyoto-u.ac.jp/~hp/index_en.html">Severe Storm & Atmos. Environ., Kyoto Univ.</a></li>
              <li><a href="http://www-clim.kugi.kyoto-u.ac.jp/clim/index_e.html">Climate Physics Lab., Kyoto Univ.</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100001967558545">Facebook</a></li>
            </ul>
          </div>
        </aside>
      </div>

      <!-- Site footer -->
      <div class="row footer">
        <footer>
          <p>&copy; 2016 Rui ITO.</p>
        </footer>
      </div>

    </div> <!-- /container -->

    <%= javascript_include_tag "ie10-viewport-bug-workaround" %>
    <%= javascript_include_tag "custom" %>
  </body>
</html>
