<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="author" content="Rui ITO">

    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "styles" %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <div class="o-layout">
      <header class="s-header">
        <nav class="s-nav">
	  <div class="s-nav__toggle"><a href="#" class="s-nav__trigger"><span class="ion-navicon-round"></span></a></div>
          <ul class="s-nav__menu">
            <li class="s-nav__item"><%= link_to 'Home', './', :class=>"s-nav__link" %></li>
            <li class="s-nav__item"><%= link_to 'About me', './about.html', :class=>"s-nav__link" %></li>
            <li class="s-nav__item"><%= link_to 'Publications', './publications.html', :class=>"s-nav__link" %></li>
            <li class="s-nav__item"><%= link_to 'Photos', './photos.html', :class=>"s-nav__link" %></li>
          </ul>
        </nav>
      </header>

      <main class="s-main">
        <article class="s-article">
          <div>
            <%= yield %>
          </div>
        </article>
        <aside class="s-aside">
          <div>
            <h1>Contact</h1>
            <p> Rui ITO, 伊東 瑠衣 (Ph.D.)<br />
              Research fellow,<br />
              Integrated Research on Disaster Risk Reduction Division,<br />
              National Research Institute for Earth Science and Disaster Resilience (NIED),<br />
              3-1, Tennoudai, Tsukuba,<br />
              Ibaraki, 305-0006, JAPAN</p>
            <p>mail:rui.ito(at)bosai.go.jp</p>
            <p>tel:+81-29-863-7559<br />
              fax:+81-29-863-7500</p>
            <h1>Links</h1>
            <ul>
              <li><a href="https://si-cat.jp">SICAT</a></li>
              <li><a href="http://www.jamstec.go.jp/sousei/">SOUSEI program</a></li>
              <li><a href="http://ssrs.dpri.kyoto-u.ac.jp/~hp/index_en.html">Severe Storm & Atmos. Environ., Kyoto Univ.</a></li>
              <li><a href="http://www-clim.kugi.kyoto-u.ac.jp/clim/index_e.html">Climate Physics Lab., Kyoto Univ.</a></li>
              <li><a href="https://www.facebook.com/rui.ito.33">Facebook</a></li>
            </ul>
          </div>
        </aside>
      </main>

      <!-- Site footer -->
      <footer class="s-footer">
        <div class="s-footer__copyright">&copy; 2016 Rui ITO.</div>
      </footer>

    </div> <!-- /container -->

    <%= javascript_include_tag "custom" %>
  </body>
</html>
